{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Cetak Laporan</h4>
                        

                        <form action="" method="GET"> <!-- Ubah method POST menjadi GET -->
                            <!-- {% csrf_token %} -->
                            <div class="form-group">
                                <label>From Date</label>
                                <input type="date" class="form-control" name="tglmulai" value="{{ filter_pln.form.tglmulai.value|default:'' }}">
                            </div>
                            <div class="form-group">
                                <label>To Date</label>
                                <input type="date" class="form-control" name="tglakhir" value="{{ filter_pln.form.tglakhir.value|default:'' }}">
                            </div>

                            <div class="form-group">
                                <label>Indikator</label>
                                <select name="indikator" class="form-control">
                                    <option value="">Semua</option>
                                    <option value="Iya" {% if filter_indikator == 'Iya' %}selected{% endif %}>Iya</option>
                                    <option value="Tidak" {% if filter_indikator == 'Tidak' %}selected{% endif %}>Tidak</option>
                                </select>
                            </div>

                            
                            <button type="submit" class="btn btn-primary m-t-20">Lihat</button>
                        </form>
                        <!-- ... -->
                        
                    </div>
                </div>
            </div>

            {% if siswa is not None %}
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Laporan Data Anak</h4>

                        <a id="btn" href="{% url 'generate_pdf' %}?tglmulai={{ filter_pln.form.tglmulai.value|default:'' }}&tglakhir={{ filter_pln.form.tglakhir.value|default:'' }}&indikator={{ filter_indikator }}" type="button" class="btn btn-primary my-2">Export PDF</a>


                        <div class="table-responsive">
                            <table id="pelanggaran_table" class="table table-striped table-bordered zero-configuration">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Nama</th>
                                        <th>TTL</th>
                                        <th>Jenis Kelamin</th>
                                        <th>Berat Badan</th>
                                        <th >Tinggi Badan</th>
                                        <th>Tanggal Operasi</th>
                                        <th>Indikator</th>
                                        <th>Status</th>
                                        <th>Posyandu</th>
                                        <th>Petugas</th>
                                      </tr>
                                </thead>
                                <tbody>
                                    {% for siswa in siswa %}
                                    <tr>
                                      <td>{{ forloop.counter }}</td>
                                      <td>{{ siswa.nama }}</td>
                                      <td>{{ siswa.ttl }}</td>
                                      <td>{% if siswa.jenis_kelamin == 'L' %}Laki-Laki{% else %}Perempuan{% endif %}</td>
                                      <td>{{ siswa.berat_badan }}&nbsp;kg</td>
                                      <td>{{ siswa.tinggi_badan }}&nbsp;cm</td>
                                      <td>{{ siswa.tanggal_operasi }}</td>
                                      <td>{{ siswa.indikator }}</td>
                                      <td>{{ siswa.status }}</td>
                                      <td>{{ siswa.posyandu }}</td>
                                      <td>{{ siswa.posyandu.petugas }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock content %}