<div class="nk-sidebar">
  <div class="nk-nav-scroll">
    <ul class="metismenu" id="menu">
      <li class="nav-label">List Menu</li>
      <li>
        <h5>
          <a
            class="nav-link {% if menu == 'beranda' %} active {% endif %}"
            href="{% url 'beranda' %}"
            aria-expanded="false"
          >
            <i class="fa-solid fa-house-chimney-window"></i>
            <span class="nav-text">Beranda</span>
          </a>
        </h5>
      </li>
      <li>
        <h5>
          <a
            class="nav-link {% if menu == 'petugas' %} active {% endif %}"
            href="{% url 'petugas' %}"
            aria-expanded="false"
          >
            <i class="fa-solid fa-user-tie"></i>
            <span class="nav-text">Data Admin</span>
          </a>
        </h5>
      </li>
      <li>
        <h5>
          <a
            class="nav-link {% if menu == 'kelas' %} active {% endif %}"
            href="{% url 'kelas' %}"
            aria-expanded="false"
          >
            <i class="fa-solid fa-hospital"></i>
            <span class="nav-text">Data Posyandu</span>
          </a>
        </h5>
      </li>
      <li>
        <h5>
          <a
            class="nav-link {% if menu == 'anak' %} active {% endif %}"
            href="{% url 'anak' %}"
            aria-expanded="false"
          >
            <i class="fa-solid fa-child"></i>
            <span class="nav-text">Data Anak</span>
          </a>
        </h5>
      </li>

      <li>
        <h5>
          <a
            class="nav-link {% if menu == 'laporan' %} active {% endif %}"
            href="{% url 'laporan' %}"
            aria-expanded="false"
          >
            <i class="fa-solid fa-book"></i>
            <span class="nav-text">Laporan</span>
          </a>
        </h5>
      </li>
    </ul>
  </div>
</div>
