{% extends "main.html" %} 
{% load static %} 
{% block content %}

 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Sistem Informasi Stunting Kelurahan Candigati Jember</span></h2>
          <p class="animate__animated animate__fadeInUp">Semangat Membangun Posyandu Candigati Menjadi Lebih Baik</p>
          <a href="{% url 'about' %}" class="btn-get-started animate__animated animate__fadeInUp">Tentang Posyandu</a>
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 video-box">
            <img src="https://www.lampost.co/upload/aa4a0c574d7a8375995bd17ead5ac401.jpg" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=mNz8IGLcvio&pp=ygUPcG9zeWFuZHUgbWFkdXJh" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">Tentang Posyandu</a></h4>
              <p class="description">
                <br>
                Posyandu Candigati Jember: Melawan Stunting demi Generasi Unggul

                <br>
                Di tengah gemuruh peradaban modern, Posyandu Candigati di Kabupaten Jember muncul sebagai cahaya pengharapan dalam upaya melawan masalah stunting yang mengancam generasi muda. Stunting, kondisi gagal tumbuh pada anak akibat kekurangan gizi kronis, telah menjadi isu serius di banyak negara, termasuk Indonesia. Namun, Posyandu Candigati dengan tekadnya yang kuat dan komitmen yang tak tergoyahkan, telah merangkul peran sentral dalam menghadapi tantangan ini.

                <br>
                Dalam kompleksitas masalah stunting, Posyandu Candigati berperan sebagai pusat perhatian dan aksi di masyarakat. Dengan kerjasama erat antara tenaga medis, para ibu, dan masyarakat sekitar, Posyandu ini membentuk fondasi yang kokoh untuk memerangi stunting. Berbagai program dan kegiatan pencegahan stunting dilaksanakan dengan sungguh-sungguh di tempat ini.

                <br>
                Dalam perjalanan melawan stunting, Posyandu Candigati mengilhami harapan dan semangat untuk masa depan yang lebih baik. Melalui pendidikan, pemantauan, dan akses gizi yang memadai, mereka membentuk pondasi kuat untuk generasi yang tangguh dan tak terhenti dalam menghadapi tantangan global. Posyandu Candigati di Jember adalah contoh gemilang bagaimana sebuah pusat pelayanan kesehatan masyarakat dapat menjadi garda terdepan dalam melawan stunting demi kesejahteraan anak-anak dan masa depan bangsa.
              </p>
            </div>

            <!-- <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div> -->

          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Features Section ======= -->
    <section class="features">
      <div class="container">

        <div class="section-title">
          <h2>Sejarah Posyandu</h2>
          <p>
             Sejarah Gemilang Posyandu Candigati: Melangkah Lawan Stunting

Posyandu Candigati di Jember memiliki sejarah yang penuh semangat dalam menghadapi tantangan stunting. Berdiri pada tahun 1995, posyandu ini muncul sebagai respons atas meningkatnya kesadaran masyarakat terhadap masalah gizi dan pertumbuhan anak. Saat itu, stunting menjadi ancaman serius bagi generasi muda, dan masyarakat Candigati bersama-sama mencari solusi.

Awalnya, Posyandu Candigati dimulai sebagai kelompok kecil ibu-ibu yang berkumpul secara berkala untuk berbagi pengetahuan tentang gizi dan kesehatan anak. Dengan dukungan dari tenaga medis setempat, kelompok ini tumbuh menjadi pusat pelayanan kesehatan masyarakat yang lebih formal.

Pada tahun-tahun awal, posyandu ini fokus pada edukasi dan pendampingan ibu-ibu dalam menyediakan asupan gizi yang tepat bagi anak-anak mereka. Program pendidikan tersebut menjadi tonggak awal dalam mengubah pola pikir masyarakat terkait pentingnya nutrisi dalam masa pertumbuhan anak.

Seiring berjalannya waktu, Posyandu Candigati semakin berkembang. Pemantauan pertumbuhan anak menjadi fokus utama, dan tim medis yang terlatih mulai melibatkan diri dalam mengukur berat dan tinggi badan anak-anak secara berkala. Data yang dikumpulkan membantu mengidentifikasi anak-anak yang berada dalam risiko stunting, sehingga intervensi dapat dilakukan lebih awal.

Pada tahun 2005, posyandu ini mengalami peningkatan dalam program gizi dengan pemberian makanan tambahan. Anak-anak dengan risiko stunting diberi suplemen gizi yang membantu meningkatkan asupan nutrisi penting. Langkah ini terbukti memberikan dampak positif dalam mencegah dan mengatasi stunting.

Seiring berjalannya waktu, Posyandu Candigati semakin terintegrasi dengan komunitas. Kerjasama dengan lembaga pemerintah dan organisasi non-pemerintah menghasilkan kampanye kesadaran yang lebih luas tentang stunting. Pendidikan dan sosialisasi di sekolah-sekolah dan kelompok masyarakat membantu meningkatkan pemahaman dan partisipasi dalam mengatasi stunting.

Dengan tekad yang tidak pernah surut, Posyandu Candigati terus berjuang melawan stunting. Sejarah perjalanan ini adalah cerminan komitmen dan semangat masyarakat Candigati dalam menciptakan masa depan yang lebih baik bagi anak-anak mereka. Dalam perang melawan stunting, Posyandu Candigati adalah bukti nyata bahwa dengan upaya bersama, masalah serius seperti stunting dapat diatasi dan generasi unggul dapat tercipta.
            </p>
        </div>
    </section><!-- End Features Section -->  

    <!-- ======= Map Section ======= -->
    <section class="map py-5">
      <div class="container-fluid p-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.0111469206886!2d113.755055!3d-8.1003445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd69553063ad12d%3A0x1dd4b4a561618e6a!2sKantor%20Desa%20Candijati!5e0!3m2!1sen!2sid!4v1692715544168!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </section><!-- End Map Section -->



</main><!-- End #main -->

{% endblock content %}
